@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@900&display=swap');

/* font-family: 'Noto Sans', san-serif;
font-family: 'Roboto', san-serif;
font-family: 'Titillium', san-serif; 
"Playfair Display", san-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0a7be4;
    --font-family: "Playfair Display", san-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-color: var(--main-color);
    border-radius: 8px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    width: 100%;
    height: auto;
    background-color: #e6efe7;
    font-family: "Noto Sans", sans-serif;
    transition: 0.4s ease;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: auto;
    z-index: 9999;
}

.topnav {
    width: 100%;
    height: 50px;
    background-color: #281d1d;
    color: #fff;
}

.topnav .container {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navicons {
    gap: 30px;
}

.navicons i {
    font-size: 20px;
}

.navicons a:hover i {
    color: var(--main-color);
}

.srbtn {
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}

.srbtn i {
    margin-left: 5px;
    font-size: 13px;
    transition: 0.2s, ease;
}

.srbtn:hover {
    color: var(--main-color);
}

.srbtn:hover i {
    transform: rotate(90deg);

}

/*mainnav */

.mainnav {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: #97BC62;
    box-shadow: 0 0 5px #999;
    z-index: 999;
    transition: 0.5s ease-in-out;
}

/* for fixed navbar */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    transition: 0.5s ease-in-out;
}

.mainnav .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
}

.logo {
    gap: 20px;
}

.logo img {
    width: 50px;
}

.logo h1 {
    font-family: 'Brush Script MT', cursive;
    color: #eee3e3;
    font-size: 25px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}


.logo:hover h1 {
    color: var(--main-color);
}

.navlist {
    gap: 30px;
    margin-right: 150px;
    transition: 0.3s ease-in-out;
}

.navlist li a {
    font-size: 16px;
    font-weight: 400;
}

.navlist li a:hover {
    color: var(--main-color);
}

/*searchbar darkmode or searchinput */

/* .toggle {
    --bg-toggle: hsl(0, 0%, 96%);
    --bg-circle: hsl(96, 85%, 34%);
    width: 60px;
    height: 30px;
    background-color: var(--bg-toggle);
    box-shadow: 0 0 5px #555;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    padding: 0 .3rem;
    transition: background-color 400ms;
    cursor: pointer;
}

.toggle__circle {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-color: var(--bg-circle);
    border-radius: 50%;
    position: relative;
    transition: margin 400ms ease-in-out, background-color 1000ms;
}

.toggle__circle::after,
.toggle__circle::before {
    content: '';
    position: absolute;
    background-color: var(--bg-toggle);
    bottom: 134%;
    transform-origin: bottom left;
}

.toggle__circle::before {
    width: 9px;
    height: 18px;
    left: 32%;
    border-radius: 0% 100% 0% 100% / 0% 27% 73% 100%;
    transform: translateX(-70%) rotate(-2deg);
}

.toggle__circle::after {
    width: 16px;
    height: 19px;
    left: 57%;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    transform: rotate(-20deg);
}

#checkbox:checked+.toggle>.toggle__circle {
    margin-left: calc(90px - (.3rem * 2) - 50px);
}

#checkbox:checked+.toggle {
    --bg-toggle: hsl(96, 85%, 34%);
    --bg-circle: hsl(0, 0%, 96%);
}*/

.searchbar {
    gap: 20px;
    margin-right: 15px;
}

.searchbar i {
    font-size: 25px;
    color: #555;
    cursor: pointer;
}

.searchbar i:hover {
    color: var(--main-color);
}

/* navbar ul on off when disply 500px on mobile devices */

.navonoff {
    display: none;
    /* display block when width 500px in js */

}

#checkbox2 {
    display: none;
}

.toggle2 {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #111;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/* spin Animation */
.bar--top {
    bottom: calc(50% + 11px +4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox2:checked+.toggle2 .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox2:checked+.toggle2 .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox2:checked+.toggle2 .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

/* searchinput */
.searchinput {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.searchinput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.searchinput i {
    font-size: 18px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #111;
    box-shadow: 0 0 5px #999;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.searchinput i:hover {
    background-color: var(--main-color);
}

/* main start */
.headerimg {
    position: relative;
    width: 100%;
    height: auto;
    background: url('/image/BrownieCookies.jpg') no-repeat center center/cover;
    z-index: 1;
    transition: 0.3s ease;
}

.headerimg .container {
    width: 100%;
    height: 100%;
}

.headerimg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    background-color: #111;
    opacity: 0.3;
    z-index: -1;
    transition: background-color .3s;
}

.headerinfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    z-index: 9px;
    color: #ee1616;
    padding-top: 8rem;
    padding-bottom: 13rem;
}

.headertitle {
    font-size: 70px;
    color: #aa2840;
    font-weight: 600;
    font-family: var(--font-family);
}

.headerpera {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-right: 50rem;
    color: #e2ede2;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 50px;
}

.headerbtn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    border-radius: 8px;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 15px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition-duration: 0.2s;
    background-color: var(--main-color);
}

.headerimg:before,
.headerimg:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 10px;
    background: linear-gradient(45deg,
            var(--ch-black), var(--ch-black),
            var(--night-rider), var(--ch-white),
            var(--night-rider),
            var(--eer-black), var(--ch-black, var(--ch-black)));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 15s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.headerbtn::after {
    filter: blur(50px);
}

.headerbtn:hover {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #fff;
}

/* headerslider */
.headerslider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -120px;
    z-index: 99;
    overflow: hidden;
}

.slidertitle {
    color: #9f2222;
    margin-bottom: 30px;
    justify-content: space-between;
}

.slidertitle h4 {
    font-size: 15px;
    font-weight: 600;
}

.sliderlfbtn button {
    position: relative;
    padding: 15px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    outline: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.sliderlfbtn button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.4s ease;
    z-index: -1;
}

.sliderlfbtn button:hover::after,
.sliderlfbtn button:hover {
    transform: scale(1);
    border: 2px solid var(--main-color);
}

.headercards {
    width: 400%;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;

}

.headercards::-webkit-scrollbar {
    display: none;

}

.headercard {
    background-color: #e2e1ec;
    min-width: 345x;
    max-width: 345px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.headercard img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.headercard:hover {
    box-shadow: 0 0 15px var(--main-color);
}

.hcardinfo {
    margin-left: 10px;
}

.hcardinfo span {
    color: brown;
    font-size: 15px;
    margin-bottom: 10px;
}

.hcardinfo h3 {
    color: #333;
    font-family: var(--font-family);
    margin-top: 8px;
}

/* threecards */
.threecards {
    gap: 25px;
    padding: 0 20px;
    margin-top: 6rem;
}

.tcard {
    position: relative;
    width: 350px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px #9999999d;
    border: radius 8px;
    padding: 20px;
}

.tcardimg {
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
    border-radius: 5px;
}

.tcardimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tcard:hover .tcardimg img {
    transform: scale(1.1);
}

.tcardimg span {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.tcardimg span:hover {
    color: orange;
}

.tcardinfo {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.tlabel {
    color: brown;
    font-weight: 600;
    font-size: 13px;
}

.tcardinfo h2 {
    font-size: 20px;
    color: #222;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family);
}

.star-rating {
    display: flex;
}

.uil-favorite {
    color: #555;
}

.uil-star {
    color: #555;
}

.checked {
    color: orange;
}

.tcardinfo p {
    font-size: 14px;
    font-weight: 22px;
    color: #444;
    text-align: center;
}

.tcardinfo ul {
    gap: 12px;
    cursor: pointer;
}

.tcardinfo ul li i {
    margin-right: 5px;
    color: brown;
}

.tcardinfo ul li:hover {
    color: rgb(16, 216, 106);
}

.tcardbtn {
    position: relative;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    overflow: hidden;
    z-index: 1;
}

.tcardbtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-color: #1111112a;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.tcardbtn:hover::before {
    transform: scale(1);
    background-color: #d6505b;
}

/* categoriescards*/

.categoriescards {
    margin-top: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.catecard {
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px #9999999d;
    margin-top: 20px;
    transition: 0.3s ease;
    gap: 20px;
    padding: 0 20px;
}

.cateimg {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.cateimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    transition: 0.3s ease;
}

.catecard:hover img {
    transform: scale(1.1);
}

.cascardinfo {
    padding: 60px 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.catecardinfo span {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
}

.cascardinfo h3 {
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 400;
}

.catecardinfo p {
    text-align: center;
    font-size: 14px;
}

.catecard:hover {
    box-shadow: 0 0 20px #333b9cc7;
}

/* categrorifilter */

.categrorifilter {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 8rem;
    border-radius: 10px;
    gap: 30px;
    padding: 20px;
}

.filter {
    gap: 30px;
}

.filtername {
    width: 252px;
    height: 180px;
    background-color: #f6f0f0;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 500;
    transition: 0.3s ease;
}

.filtername .flex {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    transition: 0.3s ease;
}

.filtername .flex i {
    font-size: 40px;
    color: var(--main-color);
}

.filtername .flex h3 {
    color: #555;
}

.filtername .flex.active,
.filtername .flex.active i,
.filtername .flex.active h3 {
    background-color: var(--main-color);
    color: #fff;
}

.filtername:hover .flex,
.filtername:hover .flex i,
.filtername:hover .flex h3 {
    background-color: var(--main-color);
    color: #fff;
}

.catecarbtn {
    position: relative;
    background-color: #ff6767;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.catecarbtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-color: #1111112a;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.filtercards {
    gap: 25px;
}

.catecarbtn:hover::before {
    transform: scale(1);
    background-color: #736d6d;
}

/* Featured Recipes */
.featuredrexipe {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 9rem;
    padding: 0 20px;
    overflow: hidden;
}

.featuredtitles {
    flex-direction: column;
    gap: 18px;
}

.titleicon {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.titleicon img {
    width: 40px;
    height: 40px;
}

.titleicon::before {
    content: '';
    width: 50px;
    height: 3px;
    background: #ff6767;
    background: linear-gradient(to right, transparent, #ff6767);
    margin-right: 20px;
}

.titleicon::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #ff6767;
    background: linear-gradient(to right, #ff6767, transparent);
    margin-left: 20px;
}

.featuredtitles h1 {
    font-family: var(--font-family);
    font-size: 45px;
    color: #1d2228;
}

.featuredtitles p {
    max-width: 600px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.featuredcards {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 4rem;
    gap: 16px;
}

.fcard {
    position: relative;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.fcardimg {
    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
    border-radius: 10px;
}

.fcardimg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: center;
    object-position: center;
    transition: 0.3s ease;
}

.fcard:hover .fcardimg img {
    transform: scale(1.08);
}

.fauthorname {
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: #fff;
    padding: 15px;
    border-top-right-radius: 10px;
}

.fauthorname img {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.fauth h5 {
    font-family: var(--font-family);
    font-size: 16px;
    color: #1784f1;
}

.fauth p {
    font-size: 12px;
    margin-top: 5px;
    color: #ff6767;
}

.fcardimg i {
    position: absolute;
    top: 3%;
    left: 3%;
    border-color: #e8e5e5;
    color: #ff6767;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.fcardimg i:hover {
    background-color: #fff;
    color: red;
}

.fcardinfo {
    flex-direction: column;
    position: relative;
    padding: 20px 0 0 60px;
    align-items: flex-start;
    gap: 15px;
}

.fcardinfo::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 40px;
    height: 2px;
    background: #ff6767;
}

.fcardinfo label {
    font-size: 13px;
}

.fcardinfo h2 {
    font-size: 20px;
    font-family: var(--font-family);
}

.fcardinfo p {
    font-size: 14px;
    color: #777;
}

.fcardbtn {
    position: relative;
    background-color: #ff6767;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.fcardbtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-color: #1111112a;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.fcardbtn:hover::before {
    transform: scale(1);
}

/* gfbg */
.gfbg {
    position: relative;
    background: url("/MalaysianFlavours/Blog/image/saladInPlate.jpg") no-repeat center center/cover;
    width: 100%;
    height: 45vh;
    margin-top: 5rem;
}

/* breakfastsec*/

.breakfastsec {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 8rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 6rem;
}

/* lefsidesec*/

.leftsidesec {
    width: 65%;
}

.leftboxtitle {
    margin-bottom: 4rem;
}

.leftboxtitle h1 {
    color: #222;
    font-size: 42px;
    font-family: var(--font-family);
    line-height: 48px;
    margin-bottom: 20px;
}

.leftboxtitle p {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    max-width: 600px;
    margin-bottom: 20px;
}

.leftposts {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2.5rem;
}

.leftposts .tcard {
    box-shadow: 0 0 10px #999;
    width: 345px;
}

.leftposts .tcard .tcardinfo h2 {
    font-weight: 500;
    color: #1d2228;
    font-size: 12px;
    line-height: 28px;
}

/* Advertise */
.youradvertise {
    width: 100%;
    height: auto;
    padding: 6rem;
    text-align: center;
    box-shadow: 0 0 10px #999;
    background: url("/MalaysianFlavours/Blog/image/advert.jpeg")no-repeat center center/cover;
}

/* rightsidesec*/

.rightsidesec {
    width: 33%;
}